/* Settings styles
-------------------------------------------------------------- */

.edd-free-downloads-zip-status-available {
	color: #46b450;
	font-weight: bold;
}

.edd-free-downloads-zip-status-unavailable {
	color: #dc3232;
	font-weight: bold;
}

.edd-free-downloads-cache-actions {
	padding: 10px;
	margin: 10px -12px -12px -12px;
	border-top: 1px solid #ddd;
	background: #f5f5f5;
	text-align: right;
}

.edd-free-downloads-purge-cache .dashicons {
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: text-bottom;
	color: #82878c;
}

/* Form builder
-------------------------------------------------------------- */
.post-type-free_downloads_form #edit-slug-box {
	display: none;
}

.post-type-free_downloads_form #minor-publishing .misc-pub-free-downloads-form-preview:before {
	content: "\f115";
	font: normal 20px/1 dashicons;
	display: inline-block;
	margin-left: -1px;
	padding-right: 3px;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
	color: #82878c;
}

.post-type-free_downloads_form #minor-publishing #minor-publishing-actions,
.post-type-free_downloads_form #minor-publishing .misc-pub-visibility,
.post-type-free_downloads_form #minor-publishing .misc-pub-curtime {
	display: none;
}

.edd-free-downloads-form-builder-fields {
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}

.edd-free-downloads-form-builder-fields li {
	float: left;
	width: 50%;
	margin-bottom: 10px;
	position: relative;
	list-style: none;
}

.edd-free-downloads-form-builder-fields li input {
	width: 120px;
	text-align: center;
}

.edd-free-downloads-form-builder .preview {
	font-weight: 400;
}

.wp-heading-inline.edd-free-downloads-table-header {
	margin-top: -15px;
}
