/** Modal CSS **/
#edd-free-downloads-modal label {
    font-weight: bold;
    display: block;
    position: relative;
    line-height: 100%;
    font-size: 95%;
    margin: 0 0 5px;
}

#edd-free-downloads-modal label.edd-free-downloads-checkbox-label {
    display: inline-block;
    padding-left: 5px;
}

#edd-free-downloads-modal span.edd-free-downloads-required {
    color: #B94A48;
    display: inline;
}

#edd-free-downloads-modal input[type='text'],
#edd-free-downloads-modal input[type='password'] {
    width: 100%;
}

#edd-free-downloads-modal button {
    width: 100%;
}

.edd-free-downloads-hidden {
    display: none;
}

.edd-free-downloads-mobile {
    padding: 25px;
}

.edd-free-download-cancel {
    margin-top: 25px;
}

/** Modal Errors **/
.edd-free-download-errors {
    border-radius: 2px;
    border: 1px solid #E6DB55;
    margin: 0 0 21px;
    background: #FFFFE0;
    color: #333;
    display: none;
}

.edd-free-download-errors p {
    margin: 0;
    padding: 10px;
    display: none;
}

.edd-free-downloads-loader {
    margin-left: 10px;
}

/** Download button shouldn't ever disappear **/
.edd-free-download-single {
    display: inline-block !important;
}

.edd-free-downloads-direct-download {
    text-align: center;
}
